/* General Styles */
body {
    background: black;
}

.heading {
    color: white;
}

/* Image on Homepage */
#splash {
    display: block;
    width: 100%;
    height: 100%;
}

/* Ruleset Div */
.ruleset {
    color: white;
}